/* Form classes */
.wrapper {
    background: var(--white);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 1s;
}

.wrapper.open {
    max-height: 1000px;
}

.add-data {
    padding: 2rem 1rem;
}

.form-lable {
    display: block;
    text-transform: uppercase;
    font-size: 0.6875rem;
    color: var(--gray-700);
}

.form-input {
    margin-top: 0.3125rem;
    background: var(--white);
    border: 1px solid #E0E0E0;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.3125rem;
    color: var(--gray-700);
    letter-spacing: -10%;
    font-family: var(--font-mono);
}

.form-input.description {
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: var(--font-body);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--green-500);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--neutral);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input[type=checkbox]:checked + .slider {
    background-color: var(--red-500);
  }
  
  input[type=checkbox]:focus + .slider {
    box-shadow: 0 0 1px var(--red-500);
  }
  
  input[type=checkbox]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn {
    /* width: 175px;
    height: 37px;
    right: 18px;
    bottom: 71px; */
    background: var(--green-500);
    border-radius: 2rem;
    border: none;
    margin-top: 0.25rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.125rem;
    color: var(--white);
    text-transform: uppercase;
}

.cancel {
    font-size: 18px;
    color: var(--gray-600);
    text-transform: uppercase;
    margin-right: 1rem;
    text-decoration: none;
}