/* Variables */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --neutral: hsl(0,0%,95%); 
    --white: hsl(0, 0%, 100%);
    --blue: hsl(199, 98%, 48%);
    --gray-100: #616161;
    --green: #4CAF50;
    --red: #F2453D;
    font-family: 'Roboto', sans-serif;
}

/* Reset Styles */
html {
    box-sizing: border-box;
    height: 100%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* Utility helpers */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1 1 0;
}

.mx-2 {
    margin: 0 2rem;
}
.-mx-2 {
    margin: 0 -2rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.items-end {
    align-items: flex-end;
}
/* Total sum styles */

.total {
    display: flex;
    background-color: var(--blue);
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 2rem;
}

.total-lable {
    flex: 1 1 0;
    text-transform: uppercase;
    color: var(--white);
    font-size: 13px;
}

.total-sum {
    flex: auto;
    font-size: 48px;
    color: var(--white);
    text-align: center;    
}

.total-spacer {
    flex: 1 1 0;
}

/* Form classes */
.add-data {
    padding: 2rem 1rem;
}

.form-lable {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: var(--gray-100);
}

.form-input {
    margin-top: 5px;
    background: var(--white);
    border: 1px solid #E0E0E0;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 24px;
    width: 100%;
    padding: 5px;
    color: var(--gray-100);
    font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--green);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--neutral);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input[type=checkbox]:checked + .slider {
    background-color: var(--red);
  }
  
  input[type=checkbox]:focus + .slider {
    box-shadow: 0 0 1px var(--red);
  }
  
  input[type=checkbox]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn {
    width: 175px;
    height: 37px;
    right: 18px;
    bottom: 71px;
    background: #4CAF50;
    border-radius: 43px;
    border: none;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 18px;
    color: var(--white);
    text-transform: uppercase;
}