/* Total sum styles */

.total {
    display: flex;
    background-color: var(--blue-900);
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 2rem;
    z-index:10;
    box-shadow: var(--shadow);
}

.total-lable {
    flex: 1 1 0;
    text-transform: uppercase;
    color: var(--white);
    font-size: 13px;
}

.total-sum {
    flex: auto;
    font-size: 3rem;
    font-family: var(--font-mono);
    font-weight: 400;
    color: var(--white);
    text-align: right;
    letter-spacing: -5%;
}

/* .total-spacer {
    flex: 1 1 0;
} */