/* Utility helpers */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1 1 0;
}

.mx-2 {
    margin: 0 2rem;
}
.-mx-2 {
    margin: 0 -2rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.items-end {
    align-items: flex-end;
}