/* Variables */

:root {
    --neutral: hsl(0,0%,95%); 
    --white: hsl(0, 0%, 100%);
    --blue-900: #01579B;
    --gray-100: #F5F5F5;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-900: #212121;
    --green-500: #4CAF50;
    --red-500: #F2453D;
    --font-mono: 'Roboto Mono', monospace;
    --font-body: 'Roboto', sans-serif;

    --shadow: 0 0.25rem 0.25rem 0.1rem hsla(0, 0%, 0%, 0.25);
}