/* Variables */

:root {
    --neutral: hsl(0,0%,95%); 
    --white: hsl(0, 0%, 100%);
    --blue: hsl(199, 98%, 48%);
    --gray-100: #616161;
    --gray-600: #757575;
    --green: #4CAF50;
    --red: #F2453D;
    font-family: 'Roboto', sans-serif;
}